:root {
	--toggle-size: 2rem;
  --switch-w: 4em;
  --switch-h: 2em;
	--switch-handle-scale: .65;
  --switch-off-handle-x: -.125em;
  --switch-on-handle-x: calc(100% - .125em);
	--switch-transition-duration: .2s;
}

#app {
	&.theme-dark {
		background: #282A36;
    color: #D2D2D2;

		.homeCube {
			stop-color: #F1FA8C;
		}

		.siteHeader {
			border-bottom: 0.1rem solid rgba(241, 250, 140, 0.3);

			@media (min-width: 1440px) {
				border-right: 0.1rem solid rgba(241, 250, 140, 0.3);	
				border-bottom: none;
			}
		}

		.logo {
			border-bottom: 0.1rem solid rgba(241, 250, 140, 0.3);
		}

		.siteLogoVector {
  		fill: var(--color-yellow);
		}

		.navigationListAnchor {
  		&:after {
    		background: var(--color-yellow);
  		}
		}

		.pageHeaderH1 {
  		color: var(--color-yellow);
		}

		a {
			color: var(--color-light);
		}

		h3,
		.h3 {
  		color: var(--color-dark);
  		background: var(--color-yellow);
		}

		h6,
		.h6 {
			color: var(--color-light);
		}

		.inputFlex {
			// border: 1px solid var(--color-yellow);
			border: 1px solid rgba(241, 250, 140, 0.3);
		}

		pre {
			border-image: var(--gradient-yellow) 1;
		}

		code {
			span {
				color: var(--color-yellow);
			}
		}

		input {
			background: var(--color-dark);
			border: 1px solid var(--color-light);
			color: rgba(255, 255, 255, 0.3);

			&:focus {
				color: var(--color-yellow);
			}
		}

		p {
			span {
				color: var(--color-yellow);
			}
		}

		// select {
		// 	background: var(--color-dark) url('~@/assets/img/ArrowDown.svg') 92% / 8% no-repeat;
		// }

		::selection {
			color: var(--color-dark);
			background: var(--color-light);
		}

		::-moz-selection {
			color: var(--color-dark);
			background: var(--color-light);
		}
	}
}

#theme-toggle {
	display: none;
	
	& + label {
    position: absolute;
    left: 2rem;
    top: 3rem;
    z-index: 99;
		font-size: var(--toggle-size);
		display: flex;
		height: var(--switch-h);
		width: var(--switch-w);
		border-radius: calc(var(--switch-h) / 2);
		background-size: auto 8em;
    background-position: bottom;
		background-image: linear-gradient(180deg, #282A36 0%, #282A36 19%, #282A36 66%, #282A36 100%);
    transition: var(--switch-transition-duration);
		border: .125em solid hsl(207, 30%, 95%);
		overflow: hidden;
		
		span {
			background: #fffad8;
			border-radius: 50%;
			height: var(--switch-h);
			width: var(--switch-h);
			transform: translateX(var(--switch-off-handle-x)) scale(var(--switch-handle-scale));	
			transition: var(--switch-transition-duration);
      cursor: pointer;
      box-shadow: 0 0 .25em .0625em #fbee8d, 0 0 2em 0 #FFEB3B, inset -.25em -.25em 0 0 #fbee8e, inset -.3125em -.3125em 0 .625em #fff5b2;
      margin-top: var(--switch-off-handle-x);
		}

		@media (min-width: 1440px) {
			right: 2rem;
			left: auto;	
		}
	}
	
	&:checked {
		font-size: var(--switch-font-size);

		& + label {
			background-position: top;
			
			span {
				background: transparent;
        transform: translateX(var(--switch-on-handle-x)) scale(var(--switch-handle-scale));
        box-shadow: inset -.1875em -.1875em 0 0 #F1FA8C, inset -.5625em -.5625em 0 0 #F1FA8C;
			}
		}
	}
}