:root {
	--color-white: #ffffff;
	--color-light: #E8E9F3;
	--color-dark: #282A36;
	--color-pink: #FF79C6;
	--color-yellow: #F1FA8C;
	--color-green: #2D936C;
	--color-blue: #07BEB8;
	--color-orange: #F7934C;

	// Gradient
	--color-gradient-1: #F79533;
	--color-gradient-2: #F37055;
	--color-gradient-3: #EF4E7B;
	--color-gradient-4: #A166AB;
	--color-gradient-5: #5073B8;
	--color-gradient-6: #1098AD;
	--color-gradient-7: #07B39B;
	--color-gradient-8: #6DBA82;

	--gradient-rainbow: linear-gradient(90deg, var(--color-gradient-2) 0%, var(--color-gradient-3) 50%, var(--color-gradient-4) 100%);
	--gradient-orange: linear-gradient(90deg, var(--color-gradient-2) 0%, var(--color-gradient-1) 100%);
	--gradient-yellow: linear-gradient(90deg, var(--color-yellow) 0%, var(--color-yellow) 100%);
	--gradient-dark: linear-gradient(90deg, var(--color-dark) 0%, var(--color-dark) 100%);
	--gradient-purple: linear-gradient(90deg, var(--color-gradient-4) 0%, var(--color-gradient-5) 100%);
}
